
<div class="intro">
  <div class="row">
    <div class="small-10 small-centered columns">
      <h2>Are you more afraid of a lion or a mosquito?</h2>
      <p>Peoples minds operate through schemas, templates of knowledge that help us organise examples into categories.</p>
      <p>These schemas are often helpful, that's why we have them. They bias us towards one choice or another letting you make decisions quickly and effectively. However these bias can also be misleading and even damaging, especially in the modern world where you have to contend with vastly more data than ever before.</p>
      <a ng-href="/quiz">Take the Test</a>
    </div>
  </div>
</div>
