
<section id="quiz">

  <div class="row">

    <div ng-controller="DisplayQuestionController as viewQs">

      <div id="questions-box">

        <h2>The Quiz</h2>


        <div ng-repeat="(questionIndex, question) in viewQs.questions">

          <div class="small-10 small-centered columns">

            <div id="question{{questionIndex+1}}" class='questionContent'>

              {{question.question.content}}

              <div class="buttons">

                <div class="button-container" ng-repeat="answer in question.question.answers">

                  <button class="answer" ng-click="viewQs.recordAnswers(questionIndex, answer.answer.id)">{{answer.answer.content}}</button>
                  <!-- <div class="answerText" ng-show="show">{{answer.answerText}}</div> -->

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>
